.UserChecklists {
    width: 980px;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;

    &__header {
        padding: 65px 0 45px;
        display: flex;
        align-items: flex-end;
    }

    &__filter {
        width: 230px;
        flex-basis: 230px;
        flex-grow: 0;
        flex-shrink: 0;
        height: 42px;
    }

    &__input {
        width: 460px;
        display: block;
        margin: 0 20px 0 auto;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.36);
        border-radius: 5px;
        border: none;
        background-color: #ffffff;
        font-size: 16px;
        letter-spacing: 0.91px;
        padding: 12px 15px;

        &:focus {
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
            outline: none;
        }
    }

    &__content-title {
        padding: 0 20px;
        font-size: 16px;
        letter-spacing: 0.9px;
        color: #11252c;
        margin: 1em 0;
        font-weight: 400;
        display: flex;
        align-items: center;
        width:  100%;
    }

    &__add-btn {
        background-color: #268790;
        color: #fff;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        margin-left: 10px;
    }

    &__content {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0 10px;
    }

    &__column {
        width: 25%;
        max-width: 25%;
        flex: 25% 0 0;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    &__actions {
        margin-left: auto;
    }

    &__actions-btn {
        width: 24px;
        height: 24px;
        overflow: hidden;
        font-size: 24px;
        padding: 0;
        border: none;
        margin-left: 10px;
        background-color: transparent;
        cursor: pointer;
        color: #2bb697;

        &--del {
            color: #da483a;
        }
    }
    
    &__delete {
      width: 387px;
      height: 45px;
      font-family: Helvetica;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.21;
      letter-spacing: 1.8px;
      text-align: center;
      color: #454545;
    }
}
