.ChecklistFilter {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    z-index: 5;

    &__inner {
        position: relative;
        border-radius: 5px;
        box-shadow: 0 1px 6px 0 rgba(120, 120, 120, 0.36);
        background-color: #f6f6f6;
        height: auto;
    }

    &__current {
        width: 100%;
        height: 42px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 10px 15px;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: #c5c5c5;
        border: none;
        background-color: transparent;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            width: 0;
            height: 0;
            display: block;
            border: 4px solid;
            border-color: currentColor transparent transparent;
            margin-top: -2px;
        }
    }

    &__items {
        list-style: none;
        margin: 0;
        padding: 15px;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: #454545;
    }

    &__item {
        list-style: none;
        padding: 0 1.5em 0 0;
        line-height: 2;
        position: relative;

        &:after {
            position: absolute;
            content: '\65';
            font-family: 'mtl-font';
            font-size: 1.25em;
            right: 0;
            top: 0;
            opacity: 0;
        }

        &--selected {
            color: #000000;
            font-weight: 400;

            &:after {
                opacity: 1;
            }
        }
    }
}