.UserProfile {
    padding: 60px 15px;
    background-color: #f6f6f6;
    flex-grow: 1;
    
    &__tabs {
        width: 940px;
        max-width: 100%;
        margin: 0 auto;
        background-color: #fff;
    }

    &__tabs-header {
        display: flex;
        width: 100%;
    }

    &__tabs-btn {
        font-size: 16px;
        letter-spacing: 0.9px;
        color: #11252c;
        margin: 0;
        padding: 15px;
        border: none;
        flex-grow: 1;
        font-weight: 400;
        cursor: pointer;
        background-color: #eee;
        border-left: 2px solid #eeeeee;

        &:not(.UserProfile__tabs-btn--active) + &:not(.UserProfile__tabs-btn--active) {
            border-color: #d6d6d6;
        }
        
        &--active {
            background-color: #fff;
            border-color: #fff;
        }
    }

    &__tabs-content {
        padding: 50px 25px;
        max-width: 100%;
        min-height: 500px;
    }

    &__tab {
        &--profile {
            width: 370px;
            margin: 0 auto;
        }
    }

    &__submit {
        text-align: center;
        padding-top: 30px;

        .mtl-button {
            display: block;
            margin: 0 auto;
            min-width: 250px;
            max-width: 100%;

            &:not(:last-child) {
                margin: 0 auto 40px;
                position: relative;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -21px;
                    left: 50%;
                    width: 54px;
                    height: 2px;
                    background-color: #f5a623;
                    margin-left: -27px;
                }
            }
        }

        a {
            color: #268790;
            font-size: 14px;
            letter-spacing: 0.8px;
            text-decoration: none;
        }
    }

    &__modal {
        position: relative;
        padding: 25px 40px;
        width: 460px;
        max-width: 100%;
        text-align: center;

        .modal-close-btn {
            top: 15px;
            right: 15px;
        }

        .mtl-button {
            width: 250px;
            max-width: 100%;
            margin-top: 25px;
            margin-bottom: 10px;
        }
    }

    &__modal-title {
        font-weight: 400;
        color: #081a20;
        font-size: 16px;
        letter-spacing: 0.91px;
        margin-bottom: 1em;
        margin-top: 0;
    }

    &__renew {
        font-size: 14px;
        letter-spacing: 0.8px;
        color: #11252c;
        text-align: center;
        font-weight: 400;
        width: 480px;
        max-width: 100%;
        margin: 0 auto;

        &--done {
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.9px;
            width: 560px;

            &:before {
                content: '\65';
                font-family: 'mtl-font';
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 40px;
                width: 94px;
                height: 94px;
                border-radius: 50%;
                color: #2bb697;
                border: 3px solid currentColor;
                margin: 0 auto 25px;
            }
        }
    }

    &__renew-title {
        text-transform: uppercase;
        margin-bottom: 2em;

        &:after, &:before {
            content: ' - '
        }
    }
}