@import '../../../assets/styles/mixins';

.Checklist {
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    padding: 15px 25px 15px 15px;
    color: #454545;
    position: relative;

    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.36);

        .Checklist__options-btn {
            opacity: 1;
        }
    }

    &__heading {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    &__heading-addon {
        margin-left: auto;
        padding-left: 5px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }

    &__title {
        margin: 0 0 1em;
        padding: 0;
        font-size: 12px;
        letter-spacing: 1.14px;
        font-weight: 400;
        display: block;
        width: 100%;
        border: none;
        color: #000000;
        flex-grow: 1;
        flex-shrink: 1;

        &:focus {
            outline: none;
        }
    }

    &__items {
        list-style: none;
        margin: 0;
        padding: 0;

        &--done {
            padding-top: 7px;
            border-top: 1px solid #d3d3d3;
        }
    }

    &__item {
        font-size: 12px;
        margin-bottom: 0.5em;
        position: relative;
        padding-left: 24px;
        display: flex;
        width: 100%;
        align-items: center;
    }

    &__item-text {
        font-size: inherit;
        color: inherit;
        margin: 0;
        padding: 0;
        border: none;
        line-height: 18px;
        background-color: transparent;
        flex-grow: 1;
        flex-shrink: 1;

        &:disabled {
            background-color: transparent;
        }

        &:focus {
            outline: none;
        }
    }

    &__item-delete {
        width: 10px;
        height: 10px;
        font-size: 10px;
        flex-grow: 0;
        flex-shrink: 0;
        align-self: center;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        color: #d3d3d3;
        cursor: pointer;

        &:hover {
            color: #454545;
        }
    }

    &__item-checkbox-decoration {
        position: absolute;
        left: 0;
        top: 4px;
        display: flex;
        width: 10px;
        height: 10px;
        border: 1px solid #979797;
        font-size: 10px;
        line-height: 9px;
        color: transparent;
        border-radius: 1px;
        z-index: 1;
    }

    &__item-checkbox {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        width: 18px;
        height: 18px;
        z-index: 2;
        cursor: pointer;
    }

    &__item-checkbox:checked + &__item-checkbox-decoration {
        color: inherit;
    }

    &__users {
        padding-top: 5px;
    }

    &__user {
        width: 20px;
        height: 20px;
        display: inline-block;
        // vertical-align: middle;
        position: relative;
        border-radius: 50%;
        margin-right: 5px;
        font-size: 9px;
        text-align: center;
    }

    &__add-user-btn {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        color: #cacaca;
        background-color: #f0f0f0;
        padding: 0;
        margin-right: 5px;
        font-size: 10px;
        line-height: 2;
        font-family: inherit;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;

        &:focus {
            outline: none;
        }
    }

    &__fav-btn {
        border: none;
        background: transparent;
        padding: 0;
        width: 12px;
        font-size: 12px;
        font-family: inherit;
        margin-right: 6px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--selected {
            color: #268790;
        }
    }

    &__options {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 5;
        font-size: 14px;
        cursor: pointer;

        &--expanded {
            .Checklist__options-menu {
                display: block;
            }

            .Checklist__options-btn {
                opacity: 1;
            }
        }
    }

    &__options-btn {
        width: 12px;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
    }

    &__options-menu {
        position: absolute;
        left: -15px;
        top: 100%;
        list-style: none;
        margin: 0;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
        background-color: #ffffff;
        width: 190px;
        display: none;
    }

    &__option {
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 2;

        > a {
            text-decoration: none;
            color: inherit;
            display: inline-block;
        }

        &--del {
            color: #da483a;
        }
    }

    &__edit-date {
        text-align: right;
        font-size: 8px;
        letter-spacing: 0.8px;
        color: #d3d3d3;
    }

    &__close-btn {
        font-size: 12px;
        letter-spacing: 1.1px;
        color: #000000;
        padding: 0.5em 0;
        margin: 0 0 0 auto;
        background-color: transparent;
        border: none;
        cursor: pointer;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &__footer {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__new-item-btn {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1.1px;
        color: #9d9d9d;
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 1.75;
        cursor: pointer;

        &:hover, &:focus, &:active {
            outline: none
        }

        &:before {
            content: '+';
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5em;
            font-size: 1.75em;
            line-height: 1;
            position: relative;
            top: -0.05em;
        }
    }

    &--favorite {
        border-color: #268790;
    }

    &--modal {
        border: none;
        box-shadow: none;
        width: 460px;
        max-width: 100%;

        &:hover {
            box-shadow: none;
        }

        .Checklist__options-btn {
            opacity: 1;
        }

        .Checklist__options {
            position: relative;
            top: 0;
            right: 0;
        }
    }
}

.Checklist-categories {
    width: 200px;
    position: relative;

    &__input {
        border: none;
        border-bottom: 1px solid transparent;
        margin: 0;
        padding: 4px;
        font-size: 12px;
        color: #268790;
        font-family: inherit;
        letter-spacing: 1.1px;
        display: block;
        width: 100%;
        @include placeholderColor();

        &:focus {
            outline: none;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 15px;
        position: absolute;
        top: 100%;
        left: -15px;
        right: -15px;
        border-radius: 5px;
        background-color: #ffffff;
    }

    &__list-item {
        list-style: none;
        font-size: 12px;
        letter-spacing: 1.1px;
        color: #268790;
        font-weight: 400;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    &--has-autocomplete {
        .Checklist-categories__input {
            border-bottom: 1px solid currentColor;
        }

        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -1px;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px;
            border-color: #268790 transparent transparent;
        }
    }
}
