@mixin buttonTransparent ($base-color, $hover-bg-color: #1eb797, $hover-text-color: #fff) {
    border-color: $base-color;
    color: $base-color;
    background-color: transparent;

    &:hover {
        background-color: $hover-bg-color;
        border-color: $hover-bg-color;
        color: $hover-text-color;
    }
}

@mixin buttonSolid ($bg-color, $text-color, $border-color: $bg-color) {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;

    &:hover {
        background-color: darken($bg-color, 5);
        border-color: darken($border-color, 5);
    }
}

.mtl-button {
    display: inline-block;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    font-family: $app-font-family;
    border: 1px solid currentColor;
    background-color: #fff;
    padding: calc(0.5em - 1px) 1.5em;
    min-width: 125px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-weight: 300;

    &--white-transparent {
        @include buttonTransparent(#fff);
    }

    &--dark-transparent {
        @include buttonTransparent(#133440);
    }

    &--orange-solid {
        @include buttonSolid(#f5a623, white);
    }

    &--rounded {
        border-radius: 3em;
    }

    &--sm {
        font-size: 9px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    &--disabled, &:disabled {
        &, &:hover {
            background-color: #d3d3d3;
            color: #fff;
            border-color: #d3d3d3;
            cursor: not-allowed;
        }
    }
}

.modal-close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1em;
    height: 1em;
    text-align: center;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #d3d3d3;
    font-size: 16px;
    cursor: pointer;

    &:hover, &:focus {
        outline: none;
        color: #268790;
    }
}