.checkbox {
    display: inline-block;
    position: relative;
    font-size: inherit;

    &__native-input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:focus {
            + .checkbox__input {
                border-color: inherit;
            }

            ~ .checkbox__label {
                color: inherit;
            }
        }

        &:checked {
            + .checkbox__input {
                background-color: #268790;
                border-color: #268790;
                background-image: url('../images/done.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            ~ .checkbox__label {
                color: inherit;
            }
        }
    }

    &__input {
        width: 1em;
        height: 1em;
        margin-right: 0.6em;
        display: inline-block;
        vertical-align: middle;
        background-color: #fff;
        border: 1px solid #9d9d9d;
        color: inherit;
        text-align: center;
    }

    &__label {
        display: inline-block;
        vertical-align: middle;
        color: #9d9d9d;
        user-select: none;
    }
}
