.Form {
    &__row {
        &--flex {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-top: 10px;
        }

        &--captcha {
            padding: 30px 0 0;
        }

        &--submit {
            padding-top: 40px;

            * {
                margin-right: 10px;
            }
        }
    }
}