@font-face {
    font-family: "mtl-font";
    src:url("../fonts/mtl-font.eot");
    src:url("../fonts/mtl-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mtl-font.woff") format("woff"),
    url("../fonts/mtl-font.ttf") format("truetype"),
    url("../fonts/mtl-font.svg#mtl-font") format("svg");
    font-weight: normal;
    font-style: normal;

}

.mtl-icon {
    font-family: "mtl-font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon]:before {
    @extend .mtl-icon;
    content: attr(data-icon);
}

[class^="mtl-icon-"]:before,
[class*=" mtl-icon-"]:before {
    @extend .mtl-icon;
}

.mtl-icon-key:before {
    content: "\62";
}
.mtl-icon-mail:before {
    content: "\63";
}
.mtl-icon-cross:before {
    content: "\64";
}
.mtl-icon-done:before {
    content: "\65";
}
.mtl-icon-dots:before {
    content: "\66";
}
.mtl-icon-plan-premium:before {
    content: "\68";
}
.mtl-icon-plan-free:before {
    content: "\67";
}
.mtl-icon-star:before {
    content: "\69";
}
.mtl-icon-star-fill:before {
    content: "\6a";
}
.mtl-icon-pen:before {
    content: "\6c";
}
.mtl-icon-angle-down:before {
    content: "\61";
}
.mtl-icon-trash:before {
    content: "\6d";
}