$focus-color:     #268790;
$empty-color:     #9d9d9d;
$invalid-color:   #da483a;

.input {
    display: block;
    width: 100%;
    color: #11252c;
    margin-bottom: 0.7em;
    font-size: 15px;

    &__field-wrap {
        position: relative;
        display: block;
        width: 100%;
    }

    &__icon {
        position: absolute;
        top: 0.2em;
        font-size: 1.4em;
        left: 0;
    }

    &__field {
        border: none;
        border-bottom: 1px solid currentColor;
        font-family: $app-font-family;
        font-size: inherit;
        display: block;
        width: 100%;
        padding: 0.5em 0.9em 0.6em;
        color: inherit;
        font-weight: 300;

        &:focus {
            outline: none;
            color: $focus-color;

          + .input__icon {
            color: $focus-color;
          }
        }

        &--has-icon-left {
          padding-left: 2.6em;
        }

        &--has-icon-right {
          padding-right: 2.6em;
        }
    }

    &__feedback {
        font-size: 0.8em;
        margin-top: 2px;
        display: block;
        width: 100%;
    }

    &--empty-value {
      color: $empty-color;
    }

    &--invalid {
        color: $invalid-color;
    }
}