.Plan {
    width: 168px;
    min-height: 168px;
    border-radius: 4px;
    border: 1px solid #268790;
    box-shadow: 2px 3px 8px 0 #d3d3d3;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 9px;
    color: #268790;
    position: relative;
    padding: 15px 12px;
    transition-duration: .25s;

    &__icon {
        min-height: 50px;
        font-size: 50px;
        line-height: 1;
    }

    &__name {
        font-size: 12px;
        text-transform: uppercase;
        margin: 0.25em 0 0.5em;
    }

    &__description {
        color: #133440;
        letter-spacing: 0.5px;
    }

    &__price {
        font-size: 12px;
        text-transform: uppercase;
        margin: 0.5em 0 0.25em;
    }

    &__button {
        position: absolute;
        bottom: -11px;
        left: 50%;
        transform: translateX(-50%);
        min-width: 85px;
        border-color: #268790;
        background-color: #f9f9f9;
        color: #11252c;
    }

    &:after {
        content: '\65';
        font-family: 'mtl-font';
        position: absolute;
        bottom: -13px;
        left: 50%;
        margin-left: -13px;
        width: 26px;
        height: 26px;
        display: flex;
        color: #fff;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        background-color: #268790;
        border: 2px solid #fff;
        border-radius: 50%;
        transform: scale(0);
    }

    &--selected, &:hover {
        background-color: #268790;

        .Plan__icon,
        .Plan__name,
        .Plan__price,
        .Plan__description {
            color: #fff;
        }

        .Plan__button {
            box-shadow: 0 2px 4px 0 rgba(177, 173, 173, 0.5);
            border-color: #f9f9f9;
        }
    }

    &--selected {
        .Plan__button {
            transform: translateX(-50%) scale(0);
            transition-duration: .25s;
        }

        &:after {
            transform: scale(1);
            transition-duration: .25s;
        }
    }
}