$app-font-family: 'Roboto', sans-serif;
$app-base-color: #11252c;

html, body, #root {
  font-family: $app-font-family;
  height: 100%;
  box-sizing: border-box;
  font-weight: 300;
  line-height: 1.5;
  color: $app-base-color;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.App {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: inherit;
  line-height: inherit;
  padding-bottom: 126px;
  background: url('../images/footer.svg') bottom center repeat-x;

  &__header {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__login {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-title {
  font-size: 26px;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 2em;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 76px;
    transform: translateX(-50%);
    height: 3px;
    background-color: #f5a623;
  }

  &--small {
    font-size: 18px;
    letter-spacing: 1px;
  }
}

.error input {
  border: 1px solid red;
}

.error {
  color: red;
}

.ReactModalPortal {
  position: relative;
  z-index: 10;
}

@import 'Icons';
@import 'Buttons';
@import 'Inputs';
@import 'Checkbox';
@import 'Form';
@import 'Plan';
