$error-page-gradient: linear-gradient(to bottom, transparent 0, transparent 73px, #268790 73px, #268790 93px, transparent 93px);

.ErrorPage {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #000000;
    font-weight: 700;

    &__content {
        text-align: center;
        width: 800px;
        max-width: 100%;
        padding: 20px 136px 20px 198px;
        flex-shrink: 0;
        flex-grow: 0;

        @media (min-width: 800px) {
            background:
                url('../images/ErrorLeft.svg') left center no-repeat,
                url('../images/ErrorRight.svg') right center no-repeat;
        }
    }

    @media (min-width: 800px) {
        &:before,
        &:after {
            flex-grow: 1;
            background-image: $error-page-gradient;
            content: '';
            display: block;
            height: 166px;
        }
    }

    &__code {
        color: #11252c;
        font-size: 200px;
    }
}
