$header-bg: #133440;
$header-min-height: 112px;
$header-inner-width: 940px;

.Header {
    background-color: $header-bg;
    min-height: $header-min-height;

    &__logo {
        width: 98px;
        height: 70px;
        margin-right: auto;
        flex-shrink: 0;
        background: url("../images/logo.svg") left center no-repeat;
    }

    &__inner {
        width: $header-inner-width;
        max-width: 100%;
        margin: 0 auto;
        min-height: $header-min-height;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .mtl-button {
            margin-right: 1em;
        }
    }

    &__user {
        color: #fff;
        font-weight: 400;
        letter-spacing: 0.8px;
        font-size: 14px;
    }

    &__username {
        font-weight: 300;
        margin-right: 1em;
    }

    &__user-link {
        color: inherit;
        text-decoration: none;
        font-weight: 400;
        margin-right: 1em;
    }
}

.LangSelector {
    align-self: center;
    position: relative;
    width: 60px;
    height: 35px;
    overflow: visible;

    &__inner {
        background-color: rgba(#fff, 0.05);
        border-radius: 5px;
    }

    &__current {
      display: flex;
      padding: 7px 0 7px 8px;
      border: none;
      background-color: transparent;
      border-radius: 0;
      align-items: center;
      width: 100%;
        font-size: 10px;
    }

    &__toggler {
      color: #fff;
      margin: 0;
      padding: 0;
      border: none;
      background-color: transparent;
      flex-grow: 1;
      display: inline-block;
    }

    &__options {
      padding: 0 8px 7px;
      display: none;
      .LangSelector__flag:not(:last-child) {
            margin-bottom: 7px;
        }
    }

    &__flag {
        width: 32px;
        height: 21px;
        display: inline-block;
        vertical-align: middle;
        border: none;
        flex-shrink: 0;

        &--en {
          background: url('../images/flag-en.png') center no-repeat;
        }

        &--ru {
          background: url('../images/flag-rus.png') center no-repeat;
        }
    }

    &--expanded {
      .LangSelector__options {
        display: block;
      }

      .LangSelector__toggler {
        transform: rotate(180deg);
      }
    }
}
