.Login {
    width: 430px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;


    &__forget-link {
        color: #9d9d9d;
        font-style: italic;

        &:hover, &:focus {
            color:  #268790;
        }
    }

    &__error {
        color: #da483a;
        font-weight: 300;
        font-size: 12px;
        width: 100%;
        text-align: center;
        position: relative;
        top: -1.25em;

        a, a:visited {
            color: inherit;
            font-weight: 400;
            text-decoration: underline;
        }

    }
}