.PaymentCard {
  width: 330px;
  max-width: 100%;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 251px;
    height: 151px;
    left: 78px;
    top: 104px;
    border-radius: 20px;
    background: #268790 linear-gradient(to bottom, transparent 0, transparent 31px, #133440 31px, #133440 61px, transparent 61px);
  }

  &__face {
    width: 251px;
    height: 151px;
    padding: 20px;
    margin-bottom: 60px;
    background-color: #f5f5f5;
    border: 1px solid #268790;
    border-radius: 20px;
    position: relative;
    text-align: left;
    z-index: 2;
  }

  &__logos {
    min-height: 37px;
    background: url('../images/cards-all.png') top right no-repeat;
  }

  &__input {
    font-size: 12px;
    font-family: inherit;
    padding: 0.5em;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 17px;
    margin-right: 13px;
    width: 70px;
    display: inline-block;
    vertical-align: top;

    &--number {
      width: 100%;
      display: block;
      margin-right: 0;
    }

    &--cvc {
      transform: translateX(164px);
      width: 44px;
    }
  }

}
