.Registration {
    width: 670px;
    display: flex;
    position: relative;

    &__indicators {
        width: 160px;
        flex-basis: 160px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__indicator {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-right: 5px solid #f3f3f3;
        color: #d3d3d3;
        font-size: 13px;
        text-align: center;
        padding: 10px;
        letter-spacing: 0.7px;
        user-select: none;

        &--showedStep {
            color: #2bb697;
            border-color: #2bb697;

            .Registration__indicator-digit {
                background-color: #2bb697;
            }
        }
    }

    &__indicator-digit {
        display: flex;
        margin: 0 auto 5px;
        align-items: center;
        justify-content: center;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: #f3f3f3;
        color: #fff;
        font-size: 30px;
        line-height: 1;
    }

    &__steps {
        flex-grow: 1;
        padding: 30px;
    }

    &__step-inner {
        max-width: 100%;
        width: 320px;
        margin: 0 auto;

        &--wide {
            width: 370px;
        }
    }

    &__submit-row {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 30px;
    }

    &__total-steps {
        font-size: 12px;
        color: #9d9d9d;
        letter-spacing: 0.7px;
        flex-basis: 80px;
        margin: 5px;
        display: inline-block;
    }

    &__plans-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 40px;
    }

    &__plan {
        flex-grow: 0;
        flex-shrink: 0;

    }
}