.thanksPage {
    font-size: 20px;
    padding: 5em 10px 1em;
    margin: 0 auto;
    text-align: center;
    width: 620px;
    max-width: 100%;

    .App-title {
        letter-spacing: 1.49px;
    }

    &__text {
        margin: 1em 0;
    }

    &__icon {
        width: 104px;
        height: 104px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2bb697;
        color: #fff;
        border-radius: 50%;
        font-size: 50px;
        margin: 0 auto 0.75em;
    }
}