.AddAuthor {
    padding: 15px;
    width: 460px;

    &__title {
        margin: 0 0 1em;
        padding: 0 0 1em;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1.1px;
        color: #000000;
        border-bottom: 2px solid #d3d3d3;
    }

    &__item {
        display: flex;
        width: 100%;
        margin-bottom: 10px;

        &--new {
            .AddAuthor__item-img:before {
                content: '+';
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #f0f0f0;
                color: #cacaca;
                font-size: 10px;
                border-radius: 50%;
            }

            .AddAuthor__item-btn {
                color: #11252c;

                > i {
                    transform: rotate(-45deg)
                }
            }
        }
    }

    &__item-img {
        width: 30px;
        padding-right: 10px;
        flex-grow: 0;
        flex-shrink: 0;

        > img {
            display: block;
            width: 100%;
        }
    }

    &__item-text {
        flex-grow: 1;
        flex-shrink: 1;
        color: #000;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.8px;
        line-height: 1.15;
    }

    &__item-input {
        border: none;
        background-color: transparent;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        display: block;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &__item-mail {
        color: #9d9d9d;
    }

    &__item-btn {
        width: 14px;
        height: 20px;
        padding: 1px;
        font-size: 12px;
        line-height: 20px;
        flex-grow: 0;
        flex-shrink: 0;
        color: #d3d3d3;
        background-color: transparent;
        border: none;
        cursor: pointer;

        > i {
            display: inline-block;
            transform-origin: center;
        }

        &:focus {
            outline: none;
        }
    }

    &__footer {
        text-align: right;
    }

    &__btn {
        border: none;
        background: transparent;
        font-size: 12px;
        letter-spacing: 1.1px;
        color: #000000;
        margin: 0 15px;
        padding-left: 0;
        padding-right: 0;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &--cancel {
            color: #9d9d9d;
        }
    }
}